

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
  } 

  a {
   color: inherit; /* 링크가 방문되었을 때의 색상을 부모 요소의 색상으로 상속 */
   text-decoration: none;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    
  
  }

  .logo {
    padding-left: 160px;
    font-size: 32px;
    margin-top: 20px;
 }

 
 .menus {
    padding-right: 150px;
    font-size: 20px;
 }

 .header ul li {
    display: inline-block;
    padding-left: 40px;
    text-align: center;
    padding: 50px;
   }

   #menu_btn {
    width: 168px;
    height: 53px;
    background-color: #d9d9d9;
    border-radius: 20px;
    font-size: 20px;
    border: solid 0.1px white;
    cursor: pointer;
    
    }
    
    #add_btn{
      width: 30px;
      height: 30px;
      font-size: 25px;
      background-color: #ffffff;
      border-radius: 10px;
      color: #bcbcbc;
      border: 1px solid #d8d8d8;
      margin-left: 10px;
      cursor: pointer;
    }

    .save_btn {
      width: 150px;
      height: 55px;
      background-color: #192e4d;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10px;
      border: none;
      cursor: pointer;
    }

    .cancel_btn {
      width: 150px;
      height: 55px;
      background-color: #ffffff;
      color: #9e9e9e;
      font-size: 20px;
      font-weight: bold;
      border-radius: 10px;
      border: 1px solid #dedede;
      margin-left: 22px;
      cursor: pointer;
    }

    .buttons {
      margin-top: 55px;
      margin-left: 290px;
    }



    .container {
      width: 923px;
      margin: 0 auto;
    }

    .inputs {
      display: flex; 
      margin-top: 5px;
    }


   textarea {
    resize: none;
   }

  .profile_pic{
    width: 110px; /* 원의 지름을 결정합니다 */
  height: 110px; /* 원의 지름을 결정합니다 */
  border-radius: 50%; /* 50%로 설정하여 동그란 모양이 되도록 합니다 */

  overflow: hidden; /* 내부 이미지를 원 모양에 맞추기 위해 필요합니다 */
  margin-left: 190px;
  margin-top: 70px;
  }

  .profile_pic img {
    width: 100%; /* 부모 요소의 너비에 맞추어 이미지 크기를 조정합니다 */
  height: auto; /* 이미지 비율 유지 */
  }
  
  #profile_sec{
     width: 420px;
     height: 1320px;
     margin-left: 200px;
  }

  .short_cut {
    margin-bottom: 10px;
  } 

  

  .navbar1 {
    width: 165px; 
    height: 20px; 
    background-color: #f5f5f5; 
    margin-left: 145px;
    padding: 20px;
  }
  
    .navbar2 {
      width: 165px; 
      height: 95px; 
      background-color: #f5f5f5; 
      margin-left: 145px;
      padding: 20px;
    }
  
    .navbar3 {
      width: 165px; 
      height: 60px; 
      background-color: #f5f5f5; 
      margin-left: 145px;
      padding: 20px;
    }
  
  
    .navbar2 p {
      font-size: 18px;
      font-weight: bold;
    }
  
    .navbar3 p {
      font-size: 18px;
      font-weight: bold;
    }

  
    .profile_title {
     font-size: 20px; 
     margin-top: 10px; 
     width: 150px; 
     text-align: center;
    }

    .profile_detail {
      margin-top: 5px; 
      margin-bottom: 30px;
    }

    .delete_btn {
      width: 29px;
      height: 29px;
      border: 1px solid #d8d8d8;
      background-color: #ffffff;
      border-radius: 10px;
      margin-left: 5px;
      cursor: pointer;
    }

    #title {
      font-size: 25px;
      font-weight: bold;
      margin-top: 75px;
      padding: 15px;
    }

    .section_1 {
      display: flex;
      width: 923px;
      height: 790px;
      border: 1px solid #c3c3c3;
      border-radius: 20px;
      margin-top: 20px;
    }

    .section_2 {
      width: 923px;
      height: auto;
      border: 1px solid #c3c3c3;
      border-radius: 20px;
      margin-top: 60px;
      
    }

    .section_3 {
      width: 923px;
      border: 1px solid #c3c3c3;
      border-radius: 20px;
      margin-top: 112px;
      padding-bottom: 40px;
    }

    
    .ingre_title{
      display: flex; 
      margin-left: 40px;
      margin-top: 30px;
    }

    .ingre_sec{
      display: flex;
      width: 865px;
      border: 1px solid #d3d3d3;
      margin-left: 29px;
      margin-top: 20px;
     
    }

    .ingre_sub {
      display: flex; 
      justify-content: center; 
      align-items: center; 
      width: 139px; 
      height: 38px; 
      border: 1px solid #e4e4e4; 
      color: #7a7a7a;
    }

    .f_ingre_input_1 {
      width: 274px;
      height: 38px;
      background-color: #f9f9f9;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      margin-left: 25px;
    }

    .f_ingre_input_2 {
      width: 172px;
      height: 38px;
      background-color: #f9f9f9;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      margin-left: 15px;
    }

    .ingre_input_1 {
      width: 274px;
      height: 38px;
      background-color: #f9f9f9;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      margin-left: 166px;
    }

    .ingre_input_2 {
      width: 172px;
      height: 38px;
      background-color: #f9f9f9;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      margin-left: 15px;
    }

    #ingre_add_btn {
      width: 62px;
      height: 29px;
      color: #7a7a7a;
      background-color: #ffffff;
      border: 1px solid #d8d8d8;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
    }

    #cooking_add_btn {
      width: 100px;
      height: 29px;
      color: #7a7a7a;
      background-color: #ffffff;
      border: 1px solid #d8d8d8;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
    }

    .section_1_img {
      width: 230px;
      height: 230px; 
      background-color: #d9d9d9;
      margin: 35px;
    }

    .section_3_img {
      width: 207px;
      height: 220px; 
      background-color: #d9d9d9;
    }

    .section_1_p {
      font-size: 17px;
      font-weight: 600;
    }

    .cook_sec_head {
      display: flex;
      justify-content: space-between;
      padding-left: 40px;
      padding-right: 70px;
      padding-top: 30px;
    }

    .step_sec {
      display: flex;
      margin-left: 60px;
      margin-top: 35px;
    }

    .step_detail {
      display: flex;
      margin-left: 75px;
      margin-top: 10px;
    }

    .step {
      font-size: 25px;
      font-weight: bold;
    }

    .explan {
      width: 545px;
      max-width: 545px;
      height: 220px;
      border-radius: 10px;
      border: 1px solid #bebebe;
      margin-left: 35px;
      white-space: pre-wrap;
      font-size: 16px;
    }
    

    .input_box_1 {
      margin-top: 10px;
      width: 500px;
      height: 40px;
      background-color: #f9f9f9;
      border: 0.5px solid #e4e4e4;
      border-radius: 5px;
      font-size: 16px;
    }

    .input_box_2 {
      margin-top: 10px;
      width: 500px;
      height: 115px;
      background-color: #f9f9f9;
      border: 0.5px solid #e4e4e4;
      border-radius: 5px;
      font-size: 16px;
    }

    .input_box_3 {
      margin-top: 20px;
      width: 85px;
      height: 40px;
      background-color: #f9f9f9;
      border: 0.5px solid #e4e4e4;
      border-radius: 5px;
      font-size: 16px
    }

    .input_box_4 {
      margin-top: 20px;
      width: 125px;
      height: 40px;
      background-color: #f9f9f9;
      border: 0.5px solid #e4e4e4;
      border-radius: 5px;
      margin-left: 15px;
    }

    /* placeholder에 스타일 적용 */
    input::placeholder {
      color: #b2b2b2; /* placeholder 텍스트 색상 */
      font-size: 16px; /* placeholder 폰트 크기 */
      /* font-style: italic; placeholder 폰트 스타일 */
      padding-left: 15px;
    }

    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      border: 0;
    } 
    
    .select_option {
      margin-top: 20px;
      width: 125px;
      height: 40px;
      background-color: #f9f9f9;
      border: 0.5px solid #e4e4e4;
      border-radius: 5px;
      
      font-size: 16px;
      font-weight: bold;
    }

    .check_label {
      margin-left: 26px;
    }

    .ingre_delete_btn {
        width:  17px;
        height: 17px;
        background : #ffffff;
        padding: 5px;
        cursor : pointer;
        border: 0

    }
    

    