

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
  } 

  a {
   color: inherit; /* 링크가 방문되었을 때의 색상을 부모 요소의 색상으로 상속 */
   text-decoration: none;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    
  
  }

  .logo {
    padding-left: 160px;
    font-size: 32px;
    margin-top: 20px;
 }

 
 .menus {
    padding-right: 150px;
    font-size: 20px;
 }

 .header ul li {
    display: inline-block;
    padding-left: 40px;
    text-align: center;
    padding: 50px;
   }

   #menu_btn {
    width: 168px;
    height: 53px;
    background-color: #d9d9d9;
    border-radius: 20px;
    font-size: 20px;
    border: solid 0.1px white;
    
    }

    .container {
      display: flex;
    }


  .profile_pic{
    width: 110px; /* 원의 지름을 결정합니다 */
  height: 110px; /* 원의 지름을 결정합니다 */
  border-radius: 50%; /* 50%로 설정하여 동그란 모양이 되도록 합니다 */

  overflow: hidden; /* 내부 이미지를 원 모양에 맞추기 위해 필요합니다 */
  margin-left: 190px;
  margin-top: 70px;
  }

  .profile_pic img {
    width: 100%; /* 부모 요소의 너비에 맞추어 이미지 크기를 조정합니다 */
  height: auto; /* 이미지 비율 유지 */
  }
  
  #profile_sec{
     width: 420px;
     height: 1320px;
     margin-left: 200px;
  }

  .short_cut {
    margin-bottom: 10px;
  } 

  

  .navbar1 {
    width: 165px; 
    height: 20px; 
    background-color: #f5f5f5; 
    margin-left: 145px;
    padding: 20px;
  }
  
    .navbar2 {
      width: 165px; 
      height: 50px; 
      background-color: #f5f5f5; 
      margin-left: 145px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-top: 10px;
      
    }

    .navbar_head {
    width: 165px; 
    height: 20px; 
    background-color: #f5f5f5; 
    margin-left: 145px;
    padding: 20px;
    }

    .navbar_head_select {
       width: 165px; 
       height: 20px; 
       background-color: #d9d9d9; 
       margin-left: 145px;
       padding: 20px;
    }

    .navbar_head_select p {
      font-size: 18px;
      font-weight: bold;
   }

    .navbar_head p {
      font-size: 18px;
      font-weight: bold;
    }
  
    .navbar3 {
      width: 165px; 
      height: 65px; 
      background-color: #f5f5f5; 
      margin-left: 145px;
      padding: 0 20px 20px 20px;
    }

    
    .navbar4 {
      width: 165px; 
      height: 20px; 
      background-color: #f5f5f5; 
      margin-left: 145px;
      padding: 20px;
    }

    .navbar5 {
      width: 165px; 
      height: 30px; 
      background-color: #f5f5f5; 
      margin-left: 145px;
      padding: 0 20px 20px 20px;
    }
  
  
  
    .navbar2 p {
      font-size: 18px;
      font-weight: bold;
    }
  
    .navbar3 p {
      font-size: 18px;
      font-weight: bold;
    }

    .navbar4 p {
      font-size: 18px;
      font-weight: bold;
    }

    .navbar5 p {
      font-size: 18px;
      font-weight: bold;
    }

  .s_top_nav {
    width: 330px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    border-top: 2px solid black;
    text-align: center;
  }
  
  .s_top_nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top_nav {
    width: 330px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    background-color: #f3f3f3;
    border: 0.5px solid #cfcfcf;
    text-align: center;
  }

  .top_nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 

.page_btn {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  margin-left: 40px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #9b9b9b;
  font-size: 20px;
}

.search_sec {
  display: flex;
  align-items: center;
  width: 883px;
  height: 73px;
  background-color: #f3f3f3;
  margin-top: 75px;
}

#sort {
  width: 165px;
  height: 35px;
  font-size: 18px;
  padding-left: 10px;
  margin-left: 60px;
}

#search_input {
  width: 373px;
  height: 33px;
  padding-left: 10px;
  border: 1px solid #828282;
  font-size: 18px;
  margin-left: 70px;
}

.search_btn {
  width: 62px;
  height: 35px;
  background-color: #d9d9d9;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}

.clear_btn {
  width: 76px;
  height: 35px;
  background-color: #d9d9d9;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
}

.date_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 7px solid #ffec86;
  margin-top: 75px;
}

.date {
  margin-left: 15px;
}

.reserve {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 35px;
  border-radius: 50px;
  background-color: #ffbf42;
  font-size: 16px;
}

.class_sec {
  display: flex;
  align-items: center;
  width: 883px;
  height: 200px;
  border: 1px solid #a0a0a0;
  border-radius: 20px;
  margin-top: 45px;
}

.class_info {
  margin-left: 25px;
}